* {
  box-sizing: border-box;
}

body {
  text-align: center;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 85px;
}

.logo-link {
  position: absolute;
  left: 385px;
  width: 675px;
  height: 130px;
}

.logo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0px;
}

.tico-title, .thinkful-title {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-size: 85px;
  padding-right: 8px;
  margin-left: 20px;
}

.tube-title {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-size: 85px;
  background-color: red;
  color: white;
  border: solid red 2px;
  border-radius: 10px;
  padding-left: 7px;
  padding-right: 7px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  margin-right: 15px;
}

.instruct-above-search {
  margin-top: 100px;
  margin-bottom: 0px;
}

.instruct-below-search {
  margin-top: 50px;
}

h2 {
  font-size: 35px;
  font-family: 'Oswald', sans-serif;
  margin-top: 85px;
  margin-bottom: 75px;
}

form {
  margin-top: 50px;
  margin-bottom: 0px;
}

button[type="submit"] {
  color: red;
}

button[type="submit"]:hover {
  background-color: red;
  color: white;
  cursor: pointer;
}

.js-query {
  width: 475px;
}

.js-query, button[type="submit"] {
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
  border-radius: 5px;
  margin-right: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

h3 {
  font-size: 55px;
  font-style: italic;
  font-family: 'Oswald', sans-serif;
}

.js-search-results {
  color: red;
}

.js-video-result {
  background-color: rgb(204, 204, 204);
  margin-left: 150px;
  margin-right: 150px;
  border-radius: 7px;
  border: solid white 2px;
  margin-top: 15px;
}

.js-video-banner {
  display: flex;
  justify-content: center;
  padding-left: 20px;
  padding-top: 20px;
}

.js-thumbnail {
  border-radius: 7px;
}

.js-thumbnail:hover {
  border: solid 7px blue;
}

.js-video-title {
  font-size: 45px;
  color: white;
  background-color: red;
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 7px;
  padding: 12px 20px 12px 20px;
}

.js-channel-title {
  font-size: 35px;
  font-family: 'Oswald', sans-serif;
  color: red;
}

h4, h5 {
  font-size: 45px;
  font-family: 'Oswald', sans-serif;
}

h5 {
  font-style: italic;
}

h6 {
  margin-top: 150px;
  font-size: 18px;
  font-style: italic;
}

a {
  color: blue;
}

p {
  color: black;
}

@media only screen and (max-width: 700px) {
  header, .logo-link, .tico-title, .tico-title-h1, .thinkful-title, .tube-title,
  .instruct-above-search, .instruct-below-search, h2, form,
  button[type="submit"], .js-query, h3, .js-search-results, .js-video-result,
  .js-video-banner, .js-thumbnail, iframe, .js-video-title, .js-channel-title,
  .api, h4, h5, h6, a, p {
    display: block;
    width: 90%;
    margin: 10px auto;
    }

    .logo-link {
      position: absolute;
      left: 0;
      width: 375px;
      height: 255px;
    }

    .tico-title {
      margin: 5px;
    }

    .tico-title-h1 {
      font-size: 85px;
    }

    .thinkful-title {
      display: inline-block;
      padding-right: 0px;
      margin-left: 10px;
      margin-right: 10px;
      width: 150px;

    }

    .thinkful-title-h1, .tube-title-h1 {
      font-size: 55px;
    }

    .tube-title {
      display: inline-block;
      font-size: 50px;
      padding-left: 0px;
      padding-right: 0px;
      margin-right: 10px;
      width: 120px;
    }

    .instruct-above-search {
      margin-top: 50px;
      margin-bottom: 0px;
    }

    .instruct-below-search {
      margin-top: 25px;
      margin-bottom: 40px;
    }

    h2 {
      font-size: 24px;
      margin-top: 38px;
      margin-bottom: 38px;
    }

    form {
      padding-bottom: 10px;
    }

    .js-query, button[type="submit"] {
      font-size: 30px;
    }

    .js-query {
      width: 335px;
      margin-top: 50px;
    }

    button[type="submit"] {
      width: 275px;
      margin-top: 35px;
    }

    h3 {
      font-size: 30px;
    }

    .js-video-result {
      display: flex;
      flex-direction: column;
      border-radius: 7px;
      width: 100%;
    }

    .js-video-banner {
      padding-left: 10px;
      padding-top: 10px;
    }

    .js-thumbnail {
      border-radius: 7px;
      width: 250px;
    }

    .js-video-title {
      font-size: 23px;
      border-radius: 7px;
      padding: 6px 10px 6px 10px;
      width: 100%;
    }

    iframe {
      width: 280px;
      height: 157px;
    }

    .js-channel-title {
      font-size: 18px;
    }

    .api, .tico {
      display: inline;
    }

    h4 {
      margin-top: 75px;
    }

    h4, h5 {
      font-size: 23px;
    }

    h6 {
      margin-top: 100px;
      font-size: 18px;
    }

}
